@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    border: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f1f2f6;
    color: rgb(34, 47, 62);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 30px 0;
}

nav a {
    text-decoration: none;
    color: rgb(34, 47, 62);
}

nav a:hover {
    font-weight: 700;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    text-align: center;
}

main .avatar {
    border-radius: 50%;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 36px 0;
    width: 150px;
}

main h1 {
    font-size: 24px;
    line-height: 44px;
}

main p {
    line-height: 24px;
}

main p a {
    color: rgb(34, 47, 62);
}

main section img {
    width: 32px;
}